# Proyectos y Compilación
*.iml
.gradle
/local.properties
/build
/.idea/
.kotlin/
.cxx
.externalNativeBuild

# Android Studio - Específicos
*.iws
*.ipr
/captures
.DS_Store

# Secretos y Entorno (IMPORTANTE para Supabase)
.env
.env.local
secrets.xml

# Archivos temporales de usuario
*.bak
*.swp
